{% extends 'base.html.twig' %}

{% block title %}Cart{% endblock %}

{% block body %}

    <!-- Shopping Cart -->
    {% if cartItems %}
        <div class="shopping-cart section">
            <div class="container">
                <div class="row">
                    <!-- Shopping Summery -->
                    <table class="table shopping-summery">
                        <thead>
                        <tr class="main-hading">
                            <th>PRODUCT</th>
                            <th>NAME</th>
                            <th class="text-center">UNIT PRICE</th>
                            <th class="text-center">QUANTITY</th>
                            <th class="text-center">TOTAL</th>
                            <th class="text-center"><a class="ti-trash remove-icon" href={{ path('clear_cart') }}></a>
                            </th>
                        </tr>
                        </thead>
                        <tbody>
                        {% set total = 0 %}
                        {% for product in cartItems %}
                            <tr>
                                <td class="image"><img src="{{ asset(product.image) }}" alt=""></td>
                                <td class="product-des" data-title="Description">
                                    <p class="product-name"><a>{{ product.name }}</a></p>
                                    <p class="product-des">{{ product.description }}</p>
                                </td>
                                <td class="price" data-title="Price"><span>€{{ product.price }}.00</span></td>
                                <td class="qty" data-title="Qty"><!-- Input Order -->
                                    <div class="input-group">
                                        <div class="button minus">
                                            <button type="button" class="btn">
                                                <a class="ti-minus"
                                                   href={{ path('decrement_product',{'productId':product.id}) }}></a>
                                            </button>
                                        </div>
                                        <input type="text" name="quant[1]" class="input-number" data-min="1"
                                               data-max="100"
                                               value="{{ cartQt[ loop.index - 1] }}">
                                        <div class="button plus">
                                            <button type="button" class="btn">
                                                <a class="ti-plus"
                                                   href={{ path('increment_product',{'productId':product.id}) }}></a>
                                            </button>
                                        </div>
                                    </div>
                                    <!--/ End Input Order -->
                                </td>
                                <td class="total-amount" data-title="Total">
                                    <span>€{{ cartQt[ loop.index - 1] * product.price }}.00</span></td>
                                <td class="action" data-title="Remove"><a
                                            href={{ path('eliminate_product',{'productId':product.id}) }}><i
                                                class="ti-trash remove-icon"></i></a>
                                </td>
                            </tr>
                            {% set total = total+ (cartQt[ loop.index - 1] * product.price) %}
                        {% endfor %}
                        </tbody>
                    </table>
                    <!--/ End Shopping Summery -->
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <!-- Total Amount -->
                    <div class="total-amount">
                        <div class="row">
                            <div class="col-lg-8 col-md-5 col-12">
                            </div>
                            <div class="col-lg-4 col-md-7 col-12">
                                <div class="right">
                                    <ul>
                                        <li class="text-light">Cart Subtotal<span>€{{ total }}.00</span></li>
                                        <li class="last text-light">You Pay<span>€{{ total }}.00</span></li>
                                    </ul>
                                    <div class="button5">
                                        {% if app.user == true %}
                                            <a href="{{ path('checkout') }}" class="btn">Checkout</a>
                                        {% else %}
                                            <a href="{{ path('Login') }}" class="btn">Log in first</a>
                                        {% endif %}
                                        <a href="{{ path('Products') }}" class="btn">Continue shopping</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--/ End Total Amount -->
                </div>

            </div>
        </div>
    {% else %}
        <div class="alert alert-danger w-50 alert-dismissible mt-3 show mx-auto text-center" role="alert">
            <h4>Your shopping cart is empty! </h4>
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
    {% endif %}
    <!--/ End Shopping Cart -->
{% endblock %}
