<head>
    <title> Trippy Bicycles | {% block title %} {% endblock %}</title>
    <meta data-n-head="ssr" charset="utf-8">
    <meta data-n-head="ssr" name="viewport" content="width=device-width,initial-scale=1">
    <link data-n-head="ssr" rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="{{ asset('css/style.css') }}">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@200;300;400&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="{{ asset('css/bootstrap.css') }}">
    <!-- Magnific Popup -->
    <link rel="stylesheet" href="{{ asset('css/magnific-popup.min.css') }}">
    <!-- Font Awesome -->
    <link rel="stylesheet" href="{{ asset('css/font-awesome.css') }}">
    <!-- Fancybox -->
    <link rel="stylesheet" href="{{ asset('css/jquery.fancybox.min.css') }}">
    <!-- Themify Icons -->
    <link rel="stylesheet" href="{{ asset('css/themify-icons.css') }}">
    <!-- Nice Select CSS -->
    <link rel="stylesheet" href="{{ asset('css/niceselect.css') }}">
    <!-- Animate CSS -->
    <link rel="stylesheet" href="{{ asset('css/animate.css') }}">
    <!-- Flex Slider CSS -->
    <link rel="stylesheet" href="{{ asset('css/flex-slider.min.css') }}">
    <!-- Owl Carousel -->
    <link rel="stylesheet" href="{{ asset('css/owl-carousel.css') }}">
    <!-- Slicknav -->
    <link rel="stylesheet" href="{{ asset('css/slicknav.min.css') }}">

    <!-- Eshop StyleSheet -->
    <link rel="stylesheet" href="{{ asset('css/reset.css') }}">
    <link rel="stylesheet" href="{{ asset('css/responsive.css') }}">
</head>
<body class="js">

{# <!-- Preloader --> #}
{# <div class="preloader"> #}
{# <div class="preloader-inner"> #}
{# <div class="preloader-icon"> #}
{# <span></span> #}
{# <span></span> #}
{# </div> #}
{# </div> #}
{# </div> #}
{# <!-- End Preloader --> #}


<!-- Header -->
<header class="header shop">
    <!-- Header Inner -->
    <div class="header-inner">
        <div class="cat-nav-head">
            <nav class="navbar navbar-expand-lg">
                <div class="navbar-collapse">
                    <div class="nav-inner">
                        <ul class="nav main-menu menu navbar-nav">
                            {% if app.request.get('_route') == info.menu0 %}
                                <li class="active"><a href='{{ path(info.menu0) }}'> {{ info.menu0 }} </a></li>
                            {% else %}
                                <li><a href='{{ path(info.menu0) }}'> {{ info.menu0 }} </a></li>
                            {% endif %}
                            {% if app.request.get('_route') == 'Products' %}
                                <li class="active"><a href='{{ path('Products') }}'> Products </a></li>
                            {% else %}
                                <li><a href='{{ path('Products') }}'> Products </a></li>
                            {% endif %}

                        </ul>
                    </div>
                </div>
                <div class="navbar-collapse">
                    <div class="nav-inner nav-title">
                        <ul class="nav main-menu menu navbar-nav">
                            <h2 class = "text-light">Trippy Bicycles</h2>
                        </ul>
                    </div>
                </div>
                <div class="navbar-collapse">
                    <div class="nav-inner ml-auto">
                        <ul class="nav main-menu menu navbar-nav">
                            {% if app.request.get('_route') == info.menu1 %}
                                <li class="active"><a href='{{ path(info.menu1) }}'> {{ info.menu1 }} </a></li>
                            {% else %}
                                <li><a href='{{ path(info.menu1) }}'> {{ info.menu1 }} </a></li>
                            {% endif %}
                            {% if app.request.get('_route') == info.menu2 %}
                                <li class="active"><a href='{{ path(info.menu2) }}'> {{ info.menu2 }} </a></li>
                            {% else %}
                                <li><a href='{{ path(info.menu2) }}'> {{ info.menu2 }} </a></li>
                            {% endif %}
                            {% if app.request.get('_route') == info.menu3 %}
                                <li class="active"><a href='{{ path(info.menu3) }}'> {{ info.menu3 }} </a></li>
                            {% else %}
                                <li><a href='{{ path(info.menu3) }}'> {{ info.menu3 }} ({{ cart|length}})  </a></li>
                            {% endif %}
                        </ul>
                    </div>
                </div>
            </nav>
            <!--/ End Main Menu -->
        </div>
    </div>
    <!--/ End Header Inner -->
</header>
<!--/ End Header -->

{% for message in app.flashes('success') %}
    <div class="alert alert-success w-50 alert-dismissible mt-3 show mx-auto text-center" role="alert">
        <h4>{{ message }}</h4>
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
{% endfor %}
{% for message in app.flashes('standard') %}
    <div class="alert alert-info w-50 alert-dismissible mt-3 show mx-auto text-center" role="alert">
        <h4>{{ message }} </h4>
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
{% endfor %}
{% for message in app.flashes('error') %}
    <div class="alert alert-danger w-50 alert-dismissible mt-3 show mx-auto text-center" role="alert">
        <h4>{{ message }} </h4>
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
{% endfor %}


{% block body %}{% endblock %}

<!-- Start Footer Area -->
<footer class="footer">
    <div class="copyright">
        <div class="container mt-5">
            <div class="inner">
                <div class="row">
                    <div class="col-lg-6 col-12">
                        <div class="left">
                            <p>Trippy Bicycles - No rights reserved, feel free <br> to copy this crazy website</p>
                        </div>
                    </div>
                    <div class="col-lg-6 col-12">
                        <div class="right">
                            <p> Designed by Ricardo Correia a64007 <br> 'Nūllum magnum ingenium sine mixtūrā dēmentiae fuit'</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>
</body>
<!-- /End Footer Area -->
<!-- Jquery -->
<script src="{{ asset('js/jquery.min.js') }}"></script>
<script src="{{ asset('js/jquery-migrate-3.0.0.js') }}"></script>
<script src="{{ asset('js/jquery-ui.min.js') }}"></script>
<!-- Popper JS -->
<script src="{{ asset('js/popper.min.js') }}"></script>
<!-- Bootstrap JS -->
<script src="{{ asset('js/bootstrap.min.js') }}"></script>
<!-- Color JS -->
<script src="{{ asset('js/colors.js') }}"></script>
<!-- Slicknav JS -->
<script src="{{ asset('js/slicknav.min.js') }}"></script>
<!-- Owl Carousel JS -->
<script src="{{ asset('js/owl-carousel.js') }}"></script>
<!-- Magnific Popup JS -->
<script src="{{ asset('js/magnific-popup.js') }}"></script>
<!-- Fancybox JS -->
<script src="{{ asset('js/facnybox.min.js') }}"></script>
<!-- Waypoints JS -->
<script src="{{ asset('js/waypoints.min.js') }}"></script>
<!-- Countdown JS -->
<script src="{{ asset('js/finalcountdown.min.js') }}"></script>
<!-- Nice Select JS -->
<script src="{{ asset('js/nicesellect.js') }}"></script>
<!-- Ytplayer JS -->
<script src="{{ asset('js/ytplayer.min.js') }}"></script>
<!-- Flex Slider JS -->
<script src="{{ asset('js/flex-slider.js') }}"></script>
<!-- ScrollUp JS -->
<script src="{{ asset('js/scrollup.js') }}"></script>
<!-- Onepage Nav JS -->
<script src="{{ asset('js/onepage-nav.min.js') }}"></script>
<!-- Easing JS -->
<script src="{{ asset('js/easing.js') }}"></script>
<!-- Active JS -->
<script src="{{ asset('js/active.js') }}"></script>
<!-- Category -->
<script src="{{ asset('js/filterCategory.js') }}"></script>



