{% extends 'base.html.twig' %}

{% block title %}Orders{% endblock %}


{% block body %}
    {% if orders %}
        {% for order in orders %}
            <div class="shopping-cart section">
            <div class="container">
            <div class="row">
            <div class="col-12">
            <!-- Shopping Summery -->
            <div class= "row">
                <div class="col-12">
            <table class="table shopping-summery">
                <thead>
                <tr class="">
                    {% set index = loop.index0  %}
                    <th>ORDER {{ orders[ index].id }}</th>
                    <th>DATE {{ orders[ index ].createdAt|date('Y-m-d H:i:s') }}</th>
                    <th>TOTAL €{{ orders[ index].total }}.00</th>
                </tr>
                </thead>
            </table>
                </div>
        </div>
            <table class="table shopping-summery">
            <tr>
            </tr>
            <thead>
            <tr class="main-hading">
                <th>PRODUCT</th>
                <th>NAME</th>
                <th class="text-center">UNIT PRICE</th>
                <th class="text-center">QUANTITY</th>
                <th class="text-center">TOTAL</th>
            </tr>
            </thead>
            <tbody>
        {% for product in orderItems %}
            {% if product.order.id == order.id %}
            <tr>
                <td class="image"><img src=" {{ asset(product.product.image) }}" alt=""></td>
                <td class="product-des" data-title="Description">
                    <p class="product-name"><a>{{ product.product.name }}</a></p>
                    <p class="product-des">{{ product.product.description }}</p>
                </td>
                <td class="price" data-title="Price"><span>€{{ product.product.price }}.00</span></td>
                <td class="qty" data-title="Qty">
                    {{ product.quantity }}
                </td>
                <td class="total-amount" data-title="Total">
                    <span>€{{ product.quantity * product.product.price }}.00</span></td>
            </tr>
            {% endif %}
        {% endfor %}
        </tbody>
        </table>
        <!--/ End Shopping Summery -->
        </div>
        </div>
        </div>
        </div>
        {% endfor %}
    {% else %}
        <div class="alert alert-danger w-50 alert-dismissible mt-3 show mx-auto text-center" role="alert">
            <h4>You have not order anything yet! </h4>
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
    {% endif %}
{% endblock %}
